-- Create analytics table if it doesn't exist
CREATE TABLE IF NOT EXISTS analytics (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  user_id UUID REFERENCES users(id) ON DELETE CASCADE,
  total_calls INTEGER DEFAULT 0,
  successful_calls INTEGER DEFAULT 0,
  conversion_rate DECIMAL(5,2) DEFAULT 0.00,
  revenue DECIMAL(10,2) DEFAULT 0.00,
  active_agents INTEGER DEFAULT 0,
  phone_numbers INTEGER DEFAULT 0,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Create call_logs table if it doesn't exist
CREATE TABLE IF NOT EXISTS call_logs (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  user_id UUID REFERENCES users(id) ON DELETE CASCADE,
  phone_number VARCHAR(50),
  customer_phone VARCHAR(50),
  duration INTEGER DEFAULT 0,
  status VARCHAR(50) DEFAULT 'completed',
  started_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  ended_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Insert default analytics data for test user
INSERT INTO analytics (user_id, total_calls, successful_calls, conversion_rate, revenue, active_agents, phone_numbers)
VALUES ('00000000-0000-0000-0000-000000000001', 0, 0, 0.00, 0.00, 0, 0)
ON CONFLICT (user_id) DO NOTHING;
