-- Add missing columns to existing analytics table
ALTER TABLE analytics ADD COLUMN IF NOT EXISTS active_agents INTEGER DEFAULT 0;
ALTER TABLE analytics ADD COLUMN IF NOT EXISTS phone_numbers INTEGER DEFAULT 0;

-- Insert default analytics data for test user (without the columns that don't exist)
INSERT INTO analytics (user_id, total_calls, successful_calls, conversion_rate, revenue)
VALUES ('00000000-0000-0000-0000-000000000001', 0, 0, 0.00, 0.00)
ON CONFLICT (user_id) DO NOTHING;
