-- Add unique constraint to user_id in analytics table
ALTER TABLE analytics ADD CONSTRAINT analytics_user_id_unique UNIQUE (user_id);

-- Insert default analytics data for test user
INSERT INTO analytics (user_id, total_calls, successful_calls, conversion_rate, revenue)
VALUES ('00000000-0000-0000-0000-000000000001', 0, 0, 0.00, 0.00)
ON CONFLICT (user_id) DO NOTHING;
