-- First, check if the user already exists and update, otherwise insert
DO \$\$
BEGIN
    IF EXISTS (SELECT 1 FROM analytics WHERE user_id = '00000000-0000-0000-0000-000000000001') THEN
        UPDATE analytics 
        SET total_calls = 0, successful_calls = 0, conversion_rate = 0.00, revenue = 0.00
        WHERE user_id = '00000000-0000-0000-0000-000000000001';
    ELSE
        INSERT INTO analytics (user_id, date, total_calls, successful_calls, conversion_rate, revenue)
        VALUES ('00000000-0000-0000-0000-000000000001', CURRENT_DATE, 0, 0, 0.00, 0.00);
    END IF;
END \$\$;
