-- Fix phone number field size
ALTER TABLE users ALTER COLUMN phone TYPE VARCHAR(50);
ALTER TABLE users ALTER COLUMN phone_number TYPE VARCHAR(50);

-- Also fix other potential length issues
ALTER TABLE users ALTER COLUMN business_name TYPE VARCHAR(500);
ALTER TABLE users ALTER COLUMN name TYPE VARCHAR(500);
